@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}


.red--box {
  height: 100px;
  width: 400px;
  background-color: #f00;
  position: relative;
}

.purple--box--container {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  display: flex;
}

.purple--box {
  width: 40px;
  height: 40px;
  background-color: #6729a0;
  margin-right: 10px;
}

.purple--box:last-child {
  margin-right: 0;
}

.main {
  display: flex;
}

.green--box {
  width: 150px;
  height: 250px;
  background: #0a5;
}

.yellow--box {
  height: 100px;
  width: 400px;
  background: #fd0;
}

.blue--box {
  width: 250px;
  height: 250px;
  background: #2563eb;
  position: relative;
}

.orange--box--container {
  position: absolute;
  top: 40px;
  left: 40px;
}

.orange--box {
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: solid 5px #fff;
  margin-bottom: 10px;
}

.orange--box:last-child {
  margin-bottom: 0;
}
